<div class="container">
  <div *ngIf="!isLoaded" class="text-center">
    <p>Loading data...</p>
  </div>

  <ng-container *ngIf="isLoaded && bodyWeightRecords">
    <div class="text-center" *ngIf="!isEditingHeight; else heightInput">
      <p class="text-light bg-dark p-2 rounded">Height: {{height}}</p>
      <button class="btn btn-primary mt-2" (click)="enableHeightEdit()">Change</button>
    </div>
    <ng-template #heightInput>
      <div class="text-center">
        <label class="text-light bg-dark p-2 rounded" for="heightInput">Height:</label>
        <input id="heightInput" class="form-control mb-2" [(ngModel)]="newHeight" type="number" />
        <button class="btn btn-success me-2" (click)="saveHeight()">Save</button>
        <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
      </div>
    </ng-template>

    <table class="table table-striped mt-4">
      <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>BMI</th>
        <th>Status</th>
        <th><button class="btn btn-primary" (click)="addRecord()">Add</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of bodyWeightRecords.items">
        <td>{{record.date | date}}</td>
        <td>{{record.weight}}</td>
        <td>{{ calculateBMI(record.weight, height) }}</td>
        <td>{{ getStatus(record.weight, height) }}</td>
        <td><button class="btn btn-secondary" (click)="viewDetails(record)">Details</button></td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-secondary" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{currentPage}} of {{bodyWeightRecords.totalPages}}</span>
      <button class="btn btn-secondary" (click)="goToNextPage()" [disabled]="currentPage === bodyWeightRecords.totalPages">Next</button>
    </div>
  </ng-container>
</div>
