################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API/FileContentIndex/02ba958e-818c-49de-9e02-0a54ae22bce0.vsidx
/API/.vs/API/FileContentIndex/559201d1-d45b-48b9-8ad2-c34e8beeecea.vsidx
/API/.vs/API/FileContentIndex/646f4c0a-de28-404a-b5a6-9a60d36af99d.vsidx
/API/.vs/API/FileContentIndex/69dc7d9a-acb7-4cf7-aff8-1791dc6a50c2.vsidx
/API/.vs/API/FileContentIndex/fb23d2ee-83bb-4fbd-9c87-ada2397d7661.vsidx
/API/.vs/API/
/API/obj/
