<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th style="width: 20%;">Name</th>
      <th style="width: 20%;">Public</th>
      <th style="width: 20%;">Price</th>
      <th style="width: 30%;">Exercises</th>
      <th style="width: 10%;"></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let plan of plans">
      <tr>
        <td>{{plan.name}}</td>
        <td>{{plan.public}}</td>
        <td>{{plan.price}} zł</td>
        <td *ngIf="plan.show">
          <button class="btn" (click)="plan.show = !plan.show"> &#9650;</button>
        </td>
        <td *ngIf="!plan.show">
          <button class="btn" (click)="plan.show = !plan.show"> &#9660;</button>
        </td>
        <td>
          <button class="btn btn-success" routerLink="/plans/edit" [state]="{ plan: plan }">Edit</button>
        </td>
      </tr>
      <ng-container *ngIf="plan.show">
        <tr class="table-secondary" *ngFor="let exercise of plan.exercises">
          <td>{{exercise.name}}</td>
          <td>{{exercise.description}}</td>
          <td>{{exercise.sets}}</td>
          <td></td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>

  <p class="text-center my-3 fs-5">Showing plans {{itemsFrom}} to {{itemsTo}} of {{totalCount}}</p>

  <div class="d-flex justify-content-center align-items-center mt-3">
    <button class="btn btn-secondary me-2" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <input
      type="number"
      class="form-control text-center me-2"
      style="width: 80px;"
      [(ngModel)]="currentPage"
      (change)="goToPage(currentPage)"
      min="1"
      [max]="totalPages || 1"
    />
    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
