<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">FitnessApp</a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center">
            <ng-container *ngIf="!(accountService.currentUser$ | async)">
              <a routerLink="/login" routerLinkActive="active" class="text-white text-decoration-none">Login</a>
              <a routerLink="/register" routerLinkActive="active" class="text-white text-decoration-none mx-2 px-2 py-1 rounded-4" style="background-color: rgb(128, 128, 128);">Sign Up</a>
            </ng-container>
            <div *ngIf="accountService.currentUser$ | async" class="btn text-white text-decoration-none mx-2 px-2 py-1 rounded-4" (click)="logout()" >Logout</div>
        </div>
      </div>
    </div>
  </div>
</nav>
